.PreparationsList .PreparationsList-SearchPanel {
    margin-left: 30px;
}

.PreparationsList .PreparationsList-List {
    max-width: 720px;
    margin-left: 30px;
}

.PreparationsList-List .ListItem {
    border-radius: 12px;
    margin: 20px 0 20px 0;
}
