.PreparationInfo {
    width: 100%;
}

.PreparationInfo .PreparationInfo-Header {
    color: #FA7271;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 35px;
}

.PreparationInfo .PreparationInfo-Label {
    background-color: #FA7271;
    font-size: 25px;
    width: 100%;
    padding: 10px;
}

.PreparationInfo .PreparationInfo-Table {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.PreparationInfo .PreparationInfo-Image {
    /* Переопределяем библиотечные стили */
    height: 300px !important;
}

@media only screen and (max-width: 768px) {
    .PreparationInfo .PreparationInfo-Image {
        /* Переопределяем библиотечные стили */
        display: none !important;
    }
}
