.PreparationAdditionalInfo .PreparationAdditionalInfo-Header {
    color: #FA7271;
    font-weight: normal;
    text-transform: initial;
    font-size: 25px;
}

.PreparationAdditionalInfo .PreparationAdditionalInfo-Title {
    color: #0B64A8;
    font-weight: normal;
    text-transform: initial;
    font-size: 25px;
    margin-bottom: 3px;
}

.PreparationAdditionalInfo .PreparationAdditionalInfo-Element {
    margin: 10px 0;
}

@media screen and (max-width: 640px), screen and (max-device-width: 640px) and (orientation: portrait) {
    .PreparationAdditionalInfo .PreparationAdditionalInfo-Title {
        font-size: 18px;
        margin: 0;
    }
}
